@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2.Common Styling
  3. Header / .header
    3.1 Logo  
    3.2 Navigation / .navbar
  4. Main
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/* ==========================================================================
   2.Common Styling
   ========================================================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container { width: 100%; }

.wrapper {
  max-width: 1500px;
  width: 93%;
  margin: 0 auto;
  position: relative;
}

.fas { padding-right: 5px; }
body { font-family: Arial; }
ul li { list-style: none; }
img { width: 100%; }
.uppercase { text-transform: uppercase; }
.first-letter:first-letter { text-transform: capitalize; }
.block { display: block; }
.centre { text-align: center; }

.inline-block { 
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100%;
}

.transition {
   -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a { 
  display: inline-block;
  text-decoration: none;
}

/* ==========================================================================
   3.Header
   ========================================================================== */
<<<<<<< HEAD
=======
    header {
      width: 100%;
      padding: 45px 0;
      z-index: 3;
      opacity: 0.8;
      background-color: black;
    }

    .top-head {
      width: 100%;
      padding: 10px 0;
      color: white;
      background-color: #f35323;
      text-align: center;
      opacity: 1 !important;
    }

    .top-head h3 {
      font-size: 0.8em;
      text-shadow: 0px 1px 1px black;
    }

   /* 3.2 Navigation */
    .nav-bar {
      width: 100%;
      position: absolute;
      opacity: 1;
      left:0;
      top: 50%;
      transform: translateY(-50%);
    }

    .nav-bar ul { width: 100%; }

    .nav-bar ul li {
      padding: 10px 20px;
      margin-right: 8px;
      display: inline-block;
    }

    .nav-bar ul li a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 17px;
      opacity: 1;
      letter-spacing: 2px;
    }

   /* 3.1 Logo */

   .inline-block a {
      margin: 20px 10px;
      text-decoration: none;
      vertical-align: middle;
      text-align: center;
      color: black;
    }
    
    .inline-block a img{ width: 230px; } 
      
    /*SOCIAL*/

    .social {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    .search { 
      padding: 8px 11px;
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 250px;
      transform: translateY(-50%);
      text-align: right;
    }

    .search:hover > form{ display: inline-block; }

    .search a {
      color: white;
      vertical-align: middle;
    }

    .search form {
      width: 70%;
      border: none;
      display: none;
      background-color: white;
      vertical-align: middle;
    }

    .search input[type="submit"] {
      border: none;
      border-radius: 0px;
      background-color: white;
      color: black;
    }

    .search input[type="search"] {
      width: 60%;
      border: none;
    }
    
    .social li {
      padding: 8px 10px;
      display: inline-block;
    }

    .social li a {
      text-decoration: none;
      font-weight: normal;
      color: white;
      opacity: 1;
      font-size: 18px;
    }

   
    .logo img {
      width: 260px;
      height: 70px;
    }

    .logo {
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  /* ==========================================================================
   4.Main
  ========================================================================== */
   
    /*banner*/

    .banner {
      width: 100%;
      display: inline-block;
      position: relative;
    }

    .banner > .wrapper {
      width: 100%;
      margin: 0 auto;
    }
  
    .coupon {
      padding: 8px 8px;
      position: fixed;
      top:70%;
      right: -3.5%;
      z-index: 999;
      background-color: black;
      transform: rotate(-90deg);
      color: white;
    }

    .coupon a {
      font-size: 15px;
      text-transform: uppercase;
      color: white;
    }

    .banner img {
      margin: 0 auto;
      max-width: 1500px;
    }

    .banner .bt-left {
      padding: 5px;
      border: none; 
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      background-color: black;
      font-size: 25px;
      color: white;
    }

    .fas{ padding: 0px; }
    
    .banner .bt-right {
      padding: 5px;
      border: none;
      position: absolute;
      top: 50%;
      right: 0% ;
      transform: translateY(-50%);
      background-color: black;
      font-size: 25px; 
      color: white;
    }

    /*SHOP*/
    .shop-section {
      background-color: black;
      color: white;
      text-align: center;
      position: relative;
      padding: 10px 0;
      margin-bottom: 10px;
    }

   .shop-head {
      width: 97%;
      margin: 30px 0px;
      display: inline-block;
      border-bottom: 1px solid white;
    }

   .shop-head h2 {
      width: 100%;
      padding: 5px 0px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
     
   .shop-head p {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 25px;
      text-align: center;
      font-size: 10px;
      font-weight: normal;
      letter-spacing: 0.2em;
      color: #aca8a5;
      text-transform: uppercase;
    }
      
    .shop-img {
      width: 22%;
      display: inline-block;
      margin: 8px 15px; 
      text-align: center;
      vertical-align: top;
      transition: transform .2s;
    }

    .shop-img:hover{ transform: scale(1.1); }

   .shop-img img {
      width: 100%;
      height: 270px;
      border: 7px solid white;
    }
      
    .shop-img h3 {
      padding-top: 15px; 
      letter-spacing: 1px;
      word-spacing: 2px;
      font-weight: bold;
      font-size: 11px;
      color: white;
      text-transform: uppercase;
    }

   .shop-img p {
      padding: 2px 0;
      color: #aca8a5;
      font-size: 13px;
    }

   .featured h2 {
      width: 97%;
      padding: 25px 0;
      margin-bottom: 30px;
      display: inline-block; 
      border-bottom: 1px solid white;
      font-weight: bold;
      font-size: 20px;
      word-spacing: 5px;
    }

   .product-section {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 30px;
      text-align: center;
    }

   .product-section > .wrapper {
      padding-top: 30px;
      border-top: 1px solid black;
    }

   .product-section section {
      width: 28%;
      height: auto;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      text-transform: uppercase;
      transition: transform 0.2s;
    }
      
    .product-section section:hover { transform: scale(1.1); }
      
    .product-section section:nth-child(2) { margin:0 90px; }
      
   .product-section img {
      width: 100%;
      height: 440px;
    }

   .product-section h3 {
      width: 100%;
      padding: 5px 0;
      margin: 10px 0;
      color: black;
      font-weight: bold;
      font-size: 15px;
    }

   .article-section {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .keith {
      width: 100%;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }

    .keith > .wrapper {
      width: 100%;
      position: relative;
      margin: 0 auto;
      display: inline-block;
      max-width: 1500px;
    }

    .keith .bg-img { 
      width: 50%;
      display: inline-block;
      float: left;
    }

    .keith > .bg-img > img { float: right; }
    
    .bg-img img { height: 570px; }
  
    .content1 {
      width: 50%;
      display: inline-block;
      position: absolute;
      top: 50%;
      float: right;
      box-sizing: border-box;
      text-align: left;
      transform: translateY(-50%);
    }

    .content {
      width: 50%;
      padding: 0% 3%;
      margin: 3% 0;
      position: relative;
      display: inline-block;
      text-align: left;
    }
    
    .content-wrapper {
      width: 80%;
      margin: 0 auto;
      position: relative;
      max-width: 1500px;
    }

    .content h2 {
      word-spacing: 4px;
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .content p:nth-child(2) {
      font-weight: bold;
      font-size: 13px;
      color: #aca8a5;
    }

    .content p:nth-child(4) {
      font-size: 15px;
      font-weight: normal;
    }

    .content h3 {
      padding: 5px 0;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .recent-design {
      width: 100%;
      display: inline-block;    
    }

    .recent-design a:last-child {
      display: block;
      font-weight: bold;
      clear: both;
      color: black;
    }

    .recent-design img {
      width: 160px;
      height: 160px;
    }

    .recent-design > a:not(:last-child):hover { transform: scale(1.1); }
    
    .recent-design a:not(:last-child) {  
      padding: 15px 0;
      margin-right: 17px;
      display: inline-block;
      float: left;
      font-size: 15px;
      font-weight: bold;
      transition: transform 0.2s;
      color: black;
    }

    .recent-design a:last-child {
      margin-top: 10px;
    }
    
    .pandora {
      width: 100%;
      display: inline-block;
      position: relative;
      text-align: center;
    }

    .pandora > .wrapper {
      width: 100%;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      max-width: 1500px;
    } 

    .pandora > .wrapper > .bg-img > img {
      float: left;
      height: 410px;
    }
  
    .pandora .pro-highlights {
      width: 100%;
      display: inline-block;
    }

    .pro-highlights img {
      width: 240px;
      height: auto;
      margin-right: 20px;
    }

    .pandora .bg-img {
      width: 50%;
      display: inline-block;
      float: right;
    } 

    .pandora > .wrapper > .content h2 {
      display: block;
      font-size: 17px;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .pandora > .wrapper > .content p:nth-child(2) {
      font-size: 13px;
      font-weight: bold;
      word-spacing: 3px;
    }

    .pandora > .wrapper > .content h3 {
      font-size: 15px;
      padding-top: 10px;
      padding-bottom: 0;
      font-stretch: expanded;
    }

    .pandora > .wrapper > .content p:nth-child(4) {
      padding: 5px 0; 
      color: #aca8a5;
    }
    
    .pandora > .wrapper > .content h4 {
      margin-top: 8px;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .pro-highlights a {
      padding: 5px 0;
      display: inline-block;
      float: left;
      color: black;
      font-size: 15px;
      font-weight: bold;
      transition: transform 0.2s;
    } 

    .pro-highlights a:not(:last-child):hover { transform: scale(1.1); }

    .pro-highlights a:last-child { display: block; } 

  /* ==========================================================================
   5.Footer
  ========================================================================== */

  footer { width: 100%; }

  .footer-contact {
    padding: 40px 0;
    display: block;
    background-color: black;
    vertical-align: middle;
    font-size: 11px;
    font-weight: bold;
    word-spacing: 2px;
  }

  .footer-contact > .wrapper  {
    width: 97%;
    margin: 0 auto;
  }

  .cleft {
    width: 50%;
    display: inline-block;
    color: white;
    float: left;
  }
  
  .cleft:nth-child(1) {
    font-weight: bold;
    color: #aca8a5;
  }

  .cleft a { 
    display: inline-block;
    color: white;
  }

  .cleft :nth-child(3):before {
    width: 4px;
    height: 4px;
    content: "";
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background: #fff;
    vertical-align: middle;
   }

  .cleft span:nth-child(3) {
    width: 4px;
    height: 4px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 100%;
    background-color: white;
    box-sizing: content-box;
    vertical-align: middle;
  }
  
  .cright {
    width:50%;
    display: inline-block;
    float: right;
    text-align: right;
    color: white;
  }

  .cright span:before {
    width: 4px;
    height: 4px;
    content: "";
    display: inline-block;
    position: relative;
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
  }

  .cright span:nth-child(2) { color: #aca8a5; }

  .footer-section {
    width: 100%;
    display: block;
    position: relative;
    background-color: #a1b5bc;
  }

  .sub {
    width: 30%;
    height: auto;
    padding: 30px 0;
    display: inline-block;
  }

  .sub h3 {
    font-size: 15px;
    font-weight: bold;
    word-spacing: 2px;
  }

  .sub p {
    padding: 10px 0;
    font-size: 15px;
    color: #020d0f;
    word-spacing: 2px;
  }

  input[type="email"]{
    padding: 8px 8px;
    border: none;
    border-radius: 2px;
  }

  input[type="email"]::placeholder{ font-size: 14px;}

  input[type="submit"] {
    padding: 8px 8px;
    border: none;
    background-color: black;
    border-radius: 2px;
    font-size: 13px;
    color: white;
  }

  .info{
    width: 45%;
    padding: 30px 45px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: inline-block;
    vertical-align: top;
  }

  .info ul {  width: 100%; }

  .info ul > li {
    display: inline-block;
    vertical-align: top;
  }

  .info ul > li > ul {  margin-right: 50px; }

  .info ul > li > ul > li { display: block; }

  .info ul > li > ul > li:first-child { text-transform: uppercase; }

  .info ul > li > ul > li a {
    margin: 3px 0;\
    font-size: 13px;
    color: white;
  }

  .blik-logo { 
    width: 20%;
    margin: 27px 0;
    display: inline-block;
    float: right;
    text-align: center;
  }
>>>>>>> feature-css
